
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root{
  --primary-color: #cec9e9;
  --black-color: #000;
  --white-color: #fff;
   --text-color: #fff;
    --section-color: #cfe2dd;


    --transition-duration: 3s;
    --transition-slow: 6s;

    
}
html,
body{
  overflow-x: hidden !important; 
}
.product-search input:hover{
  box-shadow: none !important;
  outline: none !important;
  border: 1px rgb(132, 131, 131, 0.5);
  border-radius: 10px !important;
 

}
.product-search:hover{
  border-radius: 8px;
}
.product-search:hover,
.product-search:focus{
  box-shadow: none !important;
  background-color: var(--primary-color);
}
.cart-icon i {
  font-size: 3rem;
  cursor: pointer;
}
.cart-qunti{
  font-size: 15px;
  display: flex !important;
  align-content: center !important;
  justify-content: center !important;
  padding-right: 1px;
  width: 25px !important;
  height: 25px !important;
  border-radius: 100%;
  background-color: var(--black-color);
  color: var(--white-color);
  position: absolute;
  top: 0;
  right: -60%;
}
.cart-sidebar {
  position: fixed;
  top: 0;
  right: -400px;
  width: 350px;
  height: 100vh;
  background-color: var(--white-color);
  box-shadow: -2px 0 8px rgb(0, 0, 0, 0.5);
  transition: right 0.3s ease-in-out;
  z-index: 1500;
  overflow-y: auto;
}
.cart-sidebar.open{
  right: 0;
}
.cart-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid var(--primary-color);
}
.cart-body{
  height: 82vh;
  padding: 25px;
  overflow-y: scroll;
}