
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root{
  --primary-color: #cec9e9;
  --black-color: #000;
  --white-color: #fff;
   --text-color: #fff;
    --section-color: #cfe2dd;


    --transition-duration: 3s;
    --transition-slow: 6s;

    
}
html,
body{
  overflow-x: hidden !important; 
}
.product-search input:hover{
  box-shadow: none !important;
  outline: none !important;
  border: 1px rgb(132, 131, 131, 0.5);
  border-radius: 10px !important;
 

}
.product-search:hover{
  border-radius: 8px;
}
.product-search:hover,
.product-search:focus{
  box-shadow: none !important;
  background-color: var(--primary-color);
}
.cart-icon i {
  font-size: 3rem;
  cursor: pointer;
}
.cart-qunti{
  font-size: 15px;
  display: flex !important;
  align-content: center !important;
  justify-content: center !important;
  padding-right: 1px;
  width: 25px !important;
  height: 25px !important;
  border-radius: 100%;
  background-color: var(--black-color);
  color: var(--white-color);
  position: absolute;
  top: 0;
  right: -60%;
}
.cart-sidebar {
  position: fixed;
  top: 0;
  right: -400px;
  width: 350px;
  height: 100vh;
  background-color: var(--white-color);
  box-shadow: -2px 0 8px rgb(0, 0, 0, 0.5);
  transition: right 0.3s ease-in-out;
  z-index: 1500;
  overflow-y: auto;
}
.cart-sidebar.open{
  right: 0;
}
.cart-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid var(--primary-color);
}
.cart-body{
  height: 82vh;
  padding: 25px;
  overflow-y: scroll;
}
.img-fluid{
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: hidden;
  border-radius: 8px;
}
.img-fluid img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-item:hover.product-icons .product-icon:nth-child(1){
  transform: translateY(0px);
  transition: 0.3s ;
}
.product-image{
  width: 100%;
  cursor: pointer;
}
.product-image img:nth-child(2){
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition-slow);
}
.product-item:hover.product-image img:nth-child(2){
  opacity: 1;
}
.product-content h3{
  font-size: 1rem;
  font-weight: 700;
}
.product-content span{
  font-weight: bold;
  font-size: 1.1rem;
}
.product-icons{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  top: 0;
  left: 0;
  padding-bottom: 10px;
  z-index: 2;
}
.product-icon{
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  color: var(--black-color);
  border-radius: 50%;
  transition: var(--transition-slow);
transform: translateY(250px);
}
.product-icon:hover{
  background-color: var(--primary-color);
  color: var(--white-color);
}
.product-image .tag{
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9;
  padding: 6px 20px;
  font: 1rem;
  font-weight: 700;
}
